@import 'mixin';
@import 'vars';

@import 'pages/index/advantages';
@import 'pages/index/statistic';
@import 'pages/index/we-work';
@import 'pages/index/check-price';
@import 'pages/index/process';
@import 'pages/index/tariffs';
@import 'pages/index/include-price';
@import 'pages/index/subjects';
@import 'pages/index/examples-works';
@import 'pages/index/faq';
@import 'pages/index/offer';
@import 'pages/index/about-company';
@import 'pages/index/price';
@import 'pages/index/price-process';
@import 'pages/index/guarantees';
@import 'pages/index/check-price-2';
@import 'pages/index/choose-city';

@import 'pages/index/top-services';
@import 'pages/index/flexible-pricing';

@import 'pages/about-us/main';

@import 'components/footer';
