@import 'mixin';
@import 'vars';

@font-face {
	@include font-include('Montserrat', 300, swap, normal, 'Montserrat-Light');
}

@font-face {
	@include font-include('Montserrat', 400, swap, normal, 'Montserrat-Regular');
}

@font-face {
	@include font-include('Montserrat', 500, swap, normal, 'Montserrat-Medium');
}

@font-face {
	@include font-include('Montserrat', 600, swap, normal, 'Montserrat-SemiBold');
}

@font-face {
	@include font-include('Montserrat', 700, swap, normal, 'Montserrat-Bold');
}
//@import 'libs';


@import 'pages/index/advantages';
@import 'pages/index/statistic';
@import 'pages/index/we-work';
@import 'pages/index/check-price';
@import 'pages/index/process';
@import 'pages/index/tariffs';
@import 'pages/index/include-price';
@import 'pages/index/subjects';
@import 'pages/index/examples-works';
@import 'pages/index/faq';
@import 'pages/index/offer';
@import 'pages/index/about-company';
@import 'pages/index/price';
@import 'pages/index/price-process';
@import 'pages/index/guarantees';
@import 'pages/index/check-price-2';
@import 'pages/index/choose-city';

@import 'pages/index/top-services';
@import 'pages/index/flexible-pricing';

@import 'pages/about-us/main';

@import 'pages/payment-guarantees/approximate-prices';
@import 'pages/payment-guarantees/how-order';
@import 'pages/payment-guarantees/paid-parts';
@import 'pages/payment-guarantees/help-student';
@import 'pages/payment-guarantees/payback';

@import 'pages/reviews/you-get';
@import 'pages/reviews/more-reviews';

@import 'pages/contacts/main';

@import 'pages/vacancies/hero';
@import 'pages/vacancies/how-much';
@import 'pages/vacancies/give-orders';
@import 'pages/vacancies/give-jobs';
@import 'pages/vacancies/criteria';

@import 'pages/blog/blog';
@import 'pages/blog/blog-page';

@import 'pages/404/main';

@import 'pages/sent/main';

@import 'components/footer';
