.check-price {

	padding-top: 60px; padding-bottom: 60px;
	margin-top: -30px;	

	@include _768 {
		padding-top: 100px; padding-bottom: 100px;
		margin-top: -30px;
	}

	@include _992 {
		display: grid;
		grid-template-columns: 38% auto;
		gap: 50px;
		margin-top: 0;
	}

	> * {
		align-self: center;
	}

	// .check-price__image

	&__image {

		display: none;

		@include _992 {

			padding-right: 50px;

			display: block;

			// .check-price__image--decor

			&--decor {
				position: absolute;
				left: 0; bottom: 0;
				width: 100%; padding-top: 100%;
				border-radius: 50%;
				transform: translate(-30%,30%) rotate(-45deg);
				z-index: -1;

			}

			// .check-price__image--body

			&--body {
				&::before {
					content: "";
					position: absolute;
					left: 50%; bottom: 0;
					transform: translate(-50%,0);
					width: 130%; padding-top: 130%;
					border-radius: 50%;
					background: linear-gradient(60.79deg, #EBEAFB 17.93%, #F7F7FE 73.52%);
				}
				img {
					border-radius: 180px 200px 200px 210px;
				}
			}
		}
		
	}

	// .check-price__form

	&__form {

		padding: 0 0 50px 0;

		@include _992 {
			padding: 100px 118px;
			background: var(--primary-gradient-1);
	
			border: 1px solid var(--border-color);
			border-radius: 30px;
		}

		text-align: center;

		display: flex;
		flex-direction: column;
		align-items: center;

		// .check-price__form--wrapper

		&--wrapper {
			display: inline-block;
			max-width: 360px; width: 100%;

			margin-top: 20px;
			
			@include _768 {
				margin-top: 50px;
			}

			> * {
				&:not(:first-child) {
					margin-top: 16px;
				}
			}
		}
		

		label {
			display: block;
			
			&.checkbox {
				margin-top: 5px;
				display: flex;
				justify-content: flex-start;
			}

			input {
				background: transparent;
			}

			
		}

		.ss-main {
			background: transparent;
		}

		// .check-price__form--submit

		&--submit {
			margin-top: 30px;
		}
	}

	// .check-price__title

	&__title {
	}

	// .check-price__text

	&__text {
		margin-top: 20px;


		@include _992 {
			display: inline-block;
			max-width: 320px; width: 100%;
		}

		b {
			font-weight: 500;
			@include _768 {
				font-weight: 600;
			}
		}
	}
}
