.examples-works {

	/* & + * {
		padding-top: 0;
	}

	@include _768 {
		& + * {
			margin-top: 0;
		}
	} */

	// .examples-works__title

	&__title {
	}

	// .examples-works__slider

	&__slider {

		margin: 30px 0;
		overflow: visible;

		// .examples-works__slider--wrapper

		&--wrapper {
			overflow: visible;
		}

		// .examples-works__slider--footer

		&--footer {
		}

		// .examples-works__slider--pagination

		.splide__pagination {
			justify-content: flex-start;

			@include _550 {
				justify-content: center;
			}
			
			@include _768 {
				justify-content: flex-start;
			}
		}

		&--pagination {

			text-align: left;

			@include _550 {
				text-align: center;
			}
			
			@include _768 {
				text-align: left;
			}
		}
	}

	// .examples-works__slide

	&__slide {

		display: flex;
		align-items: center;
		justify-content: space-between;
		/* justify-content: center;

		@include _768 {
			justify-content: stretch;
		} */

		transition: opacity .3s ease, visibility .3s ease;
		opacity: 0; visibility: hidden;
		&.is-active {
			opacity: 1; visibility: visible;
		}

		// .examples-works__slide--content

		&--content {
			@include _768 {
				flex: 0 50%;
			}
			@media (min-width: 768px) and (min-height: 900px) {
				flex: 0 40%;
			}
		}

		// .examples-works__slide--number

		&--number {
			
			font-weight: 600;
			font-size: 0.875rem;
			@include _768 {
				font-size: 1.125rem;
			}
			line-height: 122.222222%;
			text-transform: uppercase;

			color: rgba(0, 0, 0, 0.2);
			
			&::before {
				
				content: attr(data-number)"/";
				font-weight: 600;
				font-size: 1rem;
				
				@include _768 {
					font-size: 1.75rem;
				}
				line-height: 121.428571%;
				text-transform: uppercase;

				background: var(--accent-gradient);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			
			}
			
		}

		// .examples-works__slide--info

		&--info {
			margin-top: 20px;
			@include _768 {
				margin-top: 60px;
			}
			
			@include _992 {
				margin-top: 100px;
			}

			li {
				display: flex;
				flex-wrap: wrap;

				margin-top: 10px;

				b {
					font-weight: 500;
					margin-right: 10px;
					
					@include _768 {
						font-weight: 600;
						margin-right: 20px;
					}
				}
			}
		}

		// .examples-works__slide--footer

		&--footer {
			margin-top: 30px;

			display: grid;
			gap: 20px;
		}

		// .examples-works__slide--btn

		&--btn {
			justify-self: start;
		}

		// .examples-works__slide--image

		&--image {
			position: relative;
			flex: 0 40%;
			@media (min-width: 768px) and (min-height: 800px) {
				flex: 0 52%;
			}
			margin-bottom: -10%;

			display: none;

			@include _768 {
				display: block;
			}
		}

		// .examples-works__slide--image-decor

		&--image-decor {
			position: absolute;
			right: 0; top: 15%;
			width: 70%; height: 70%;
			transform: translate(25%,0);
			border-radius: 50%;
		}

		// .examples-works__slide--image-body

		&--image-body {
		}
	}
}
