.flexible-pricing {

	&.section-start {
		padding-top: 40px; padding-bottom: 0;
	}

	// .flexible-pricing__title

	&__title {
	}

	// .flexible-pricing__text

	&__text {

		margin-top: 30px;

		@include _768 {
			margin-top: 20px;
		}

		b {
			font-weight: 500;
			@include _768 {
				font-weight: 600;
			}
			line-height: 125%;
		}
	}

	// .flexible-pricing__tab-nav

	&__tab-nav {

		margin-top: 30px;

		display: flex;
		flex-direction: column;
		@include _768 {
			flex-direction: row;
			margin-top: 55px;
		}

		// .flexible-pricing__tab-nav--btn

		&--btn {
			text-align: center;

			display: flex;
			flex-direction: column;
			align-items: center;

			flex: 1 1 auto;

			padding: 18px;
			background: transparent;
			border-radius: 14px;

			color: rgba(255, 128, 61, 0.6);
			border: 2px solid rgba(255, 128, 61, 0.6);

			transition: border-color .3s ease, background .3s ease;

			position: relative;
			&::before {
				content: '';
				position: absolute;
				left: -2px; top: -2px;
				width: calc(100% + 4px); height: calc(100% + 4px);
				border-radius: 14px;
				background: var(--accent-gradient);
				//z-index: -1;

				opacity: 0;
				transition: opacity .3s ease;
			}

			> * {
				z-index: 2;
			}

			b {
				font-weight: 600;
				font-size: 1rem;
				
				@include _992 {
					font-size: 1.375rem;
				}
				line-height: 122.727273%;
				text-transform: uppercase;

				transition: color .3s ease;
			}

			span {
				display: block;
				margin-top: 5px;
				font-size: 0.875rem;
				line-height: 123.076923%;

				opacity: 0.8;

				transition: color .3s ease;
			}

			&._active::before {
				opacity: 1;
			}

			&._active {
				color: var(--white);
				border-color: var(--accent);
			}

			&:hover {
				background: var(--accent);
				color: var(--white);
			}
			
			&:active {
				//background: transparent;
				&::before {
					opacity: 1;
				}
			}
		}
	}

	// .flexible-pricing__tab-wrapper

	&__tab-wrapper {
		display: grid;
		> * {
			grid-area: 1/1;
		}
	}

	// .flexible-pricing__tab-block

	&__tab-block {
		opacity: 0; visibility: hidden;
		&._active {
			opacity: 1; visibility: visible;
		}

		transition: opacity .3s ease, visibility .3s ease;
	}

	// .flexible-pricing__list

	&__list {
		padding-top: 30px;

		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		gap: 41px;

		li {
			text-align: center;

			b {
				margin-top: 30px;
				display: block;

				font-weight: 500;
				@include _768 {
					font-weight: 600;
				}
			}
		}
	}
}
