.hero {

	display: grid;
	padding-top: 47px;
	
	@include _768 {
		padding-top: 0;
		grid-template-columns: 1fr 1fr;
	}

	@include _992 {
		grid-template-columns: 60% auto;
	}

	// .hero__content

	&__content {
		@include _768 {
			grid-column: 1;
		}
		align-self: center;
	}

	// .hero__title

	&__title {
	}

	// .hero__text

	&__text {
		padding-top: 20px;

		font-weight: 500;
		font-size: 1rem;
		
		@include _768 {
			font-size: 1.25rem;
		}
		line-height: 115%;
		opacity: 0.8;
	}

	// .hero__nav

	&__nav {
		padding-top: 30px;

		@include _992 {
			padding-top: 50px;
		}

		display: flex;
		flex-wrap: wrap;

		margin: -4px -8px;

		> * {
			margin: 4px 8px;
		}
	}

	// .hero__btn

	&__btn {

	}

	// .hero__list

	&__list {
		align-self: self-start;
		margin-top: 30px;

		@include _550 {
			grid-template-columns: 1fr 1fr;
			gap: 30px;
		}
		
		@include _768 {
			grid-column: 2 span;
			grid-template-columns: 1fr 1fr 1.5fr;
		}

		display: grid;
		gap: 10px;

		@include _992 {
			grid-column: 1;
			margin-right: -75px;
		}

		//margin-right: -150px;

		li {
			align-self: center;

			text-transform: uppercase;
			padding-left: 30px;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				left: 0; top: 50%;
				transform: translate(0,-50%);
				width: 20px; height: 20px;
				border-radius: 50%;
				border: 2px solid transparent;
				border-radius: 50px;
				background: var(--accent-gradient) border-box;
				-webkit-mask:
					linear-gradient(#fff 0 0) padding-box, 
					linear-gradient(#fff 0 0);
				-webkit-mask-composite: xor;
				mask-composite: exclude;
			}
		}
	}

	// .hero__image

	&__image {

		display: none;
		
		@include _768 {
			display: block;
			grid-column: 2; grid-row: 1;
		}

		@include _992 {
			grid-row: 1/3;
		}
		position: relative;
		
		// .hero__image--decor-pattern

		&--decor-pattern {
			position: absolute;
			right: -13%; top: 5%;
			width: 70%; padding-top: 70%;
			border-radius: 50%;
			transform: rotate(-20deg);
		}

		// .hero__image--body

		&--body {
			&::before {
				content: '';
				position: absolute;
				left: 10%; bottom: 6%;
				width: 100%; padding-top: 100%;
				background: linear-gradient(311.04deg, #D6D3FF 19.21%, #F7F7FE 75.24%);
				border-radius: 50%;
				z-index: -1;
			}
		}

		// .hero__image--decor

		/* &--decor {
			position: absolute;
			right: 0; bottom: 0;
			width: 100%; height: auto;
		} */
	}
}
