.process {

	padding-top: 100px; padding-bottom: 122px;
	

	// .process__title

	&__title {
	}

	// .process__list

	&__list {
		padding-top: 50px;
		counter-reset: process_number;
		
		@include _768 {
			display: grid;
			grid-template-columns: 1fr 1fr;
			margin: -60px -20px;
		}
		@include _992 {
			grid-template-columns: 1fr 1fr 1fr;
		}

		margin: -40px 0;

		li {
			position: relative;
			//align-self: self-start;

			display: grid;
			grid-template-columns: 75px auto;
			@include _768 {
				padding: 60px 20px; margin: 0;
				grid-template-columns: auto auto;
			}
			grid-template-rows: min-content auto;
			

			margin: 40px 0;

			
		}
	}

	&__list li:nth-child(2n - 2) &__line {
		@include _768 {
			position: static;

			canvas {
				right: 15px; left: auto;
				top: 100px;
				width: 200%; height: 100%;
				transform: none;
			}
		}

		@include _992 {
			position: relative;
			canvas {
				position: absolute;
				left: 40px; top: 50%;
				transform: translate(0,-50%);
				width: calc(100% - 20px); height: 50px;
			}
		}
	}

	&__list li:nth-child(3n - 3) &__line {
		
		@include _992 {
			position: static;
		}

		canvas {
			
			@include _992 {
				right: 15px; left: auto;
				top: 115px;	
				width: calc(300% + 1px); height: 100%;
				transform: none;
			}
			@media (min-width: 1300px) {
				right: -30px;
				width: 300%;
			}
			
		}
	}

	&__list li:last-child &__line {
		opacity: 0;
		/* position: static;
		//opacity: 0;

		canvas {
			right: 0; left: auto;
			top: 90px;
			width: 300%; height: 100%;
			transform: none;
		} */
	}

	&__list li:nth-child(-n + 9) &__number::before {
		content: "0"counter(process_number);
	}

	// .process__line

	&__line {
		//opacity: 0;
		/* position: absolute;
		left: 0; top: 90px;
		width: 100%; height: 50px; */

		position: absolute;
		left: 10px; top: 60px;
		width: 50px; height: calc(100% - 10px);

		opacity: .7;
		
		@include _768 {
			position: relative;
			left: auto; top: auto;
			width: auto; height: auto;
			transform: none;
		}

		user-select: none; pointer-events: none;
		canvas {
			position: absolute;
			left: 0; top: -50%;
			width: 100%; height: 200%;
			transform: scale(0.5);	
			@include _768 {
				left: 40px; top: 50%;
				transform: translate(0,-50%);
				width: calc(100% - 20px); height: 50px;
			}
		}
	}

	// .process__number

	&__number {

		align-self: self-start;
		
		&::before {
			counter-increment: process_number;
			content: counter(process_number);

			font-weight: 500;
			font-size: 3.125rem;
			height: 50px;
			
			@include _768 {
				font-size: 4.375rem;
				font-weight: 600;
				height: auto;
			}
			
			@include _992 {
				font-size: 6.25rem;
			}
			line-height: 122%;
			text-transform: uppercase;
			background: var(--accent-gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
		}
		
	}

	// .process__text

	&__text {
		align-self: self-start;
		
		
		@include _768 {
			grid-column: 2;
			margin-left: -20px; 
			padding-right: 20px;
		}
	}
}
