.tariffs {

	/* padding-top: 60px; padding-bottom: 60px;
	
	@include _768 {
		padding-top: 100px; padding-bottom: 100px;
	} */


	// .tariffs__title

	&__title {
	}

	// .tariffs__slider

	&__slider {

		margin-top: 50px;

		overflow: visible;
		padding: 0 30px;
		@include _768 {
			padding: 0;
		}

		&.is-overflow .splide__pagination {
			display: flex;
		}

		.splide__pagination {
			display: none;
		}

		// .tariffs__slider--wrapper

		&--wrapper {
			overflow: visible;
		}

		// .tariffs__slider--slide

		&--slide {
		}

		// .tariffs__slider--pagination

		&--pagination {
			
		}
	}

	// .tariffs__slide

	&__slide {
		z-index: 2;
		border: 2px solid transparent;
		transition: border-color .3s ease, box-shadow .2s ease;

		background: var(--white);

		&.checked {
			border-color: #7977E8;
		}

		&:hover {
			border-color: #7977E8;
			box-shadow: -1px -1px 25px 0px rgba(83, 80, 244, 0.211);
		}
		
		&:active {
			border-color: #7977E8;
		}

		border-radius: 12px;

		padding: 35px 17px;

		text-align: center;

		display: flex;
		flex-direction: column;

		
		@include _768 {
			height: auto;
			align-self: stretch;
		}

		@include _992 {
			padding: 62px 20px;
			border-radius: 30px;
		}

		// .tariffs__slide--name

		&--name {
			font-weight: 600;
			font-size: 1.125rem;
			
			@include _992 {
				font-size: 1.375rem;
			}
			line-height: 122.727273%;
			text-transform: uppercase;
			color: var(--accent);
		}

		// .tariffs__slide--price

		&--price {
			margin-top: 10px;
			font-size: 1.75rem;
			
			@include _992 {
				font-size: 2.75rem;
			}
			line-height: 122.727273%;
			color: #000000;

		}

		// .tariffs__slide--text

		&--text {
			display: block;
			margin-top: 20px;
			font-size: 0.875rem;
			line-height: 133%;
			
			@include _992 {
				font-size: 1rem;
			}
			b {
				font-weight: 600;
			}
		}

		// .tariffs__slide--list

		&--list {

			height: 200px; overflow: hidden;

			transition: height .3s ease;

			&::after {
				content: '';
				position: absolute;
				left: 0; top: 200px;
				width: 100%; height: 200px;
				background: linear-gradient(0deg, rgba(255,255,255,1) 10%, rgba(0,0,0,0) 100%);
				pointer-events: none;
				transition: opacity .3s ease, top .3s ease;
			}

			@include _768 {
				height: auto;
				&::after {
					display: none;
				}
			}
			
			text-align: left;

			//padding-top: 22px;

			li {
				display: flex;
				align-items: center;

				font-size: 0.875rem;
				
				@include _992 {
					font-size: 1rem;
				}

				padding-top: 16px;
				line-height: 125%;

				svg {
					flex: 0 0 20px;
					margin-right: 10px;

					fill: var(--accent);
				}

				&.disabled {
					color: #D9D9D9;
					svg {
						fill: #D9D9D9;
					}
				}
			}
		}

		&--list.active {
			height: var(--height, 200px);
			&::after {
				top: var(--height, 200px);
				opacity: 0;
			}
		}

		&--list.active + &--list-more {
			svg {
				transform: scale(-1);
			}
		}

		&--list-more {
			position: relative;
			z-index: 2;
			text-align: left;

			display: flex;
			align-items: center;

			padding: 5px 15px;
			color: var(--accent);
			font-weight: 600;

			background: transparent;

			svg {
				fill: var(--accent);
				width: 30px; height: 30px;

				transition: transform .3s ease;
			}

			@include _768 {
				display: none;
			}
		}

		// .tariffs__slide--footer

		&--footer {
			flex: 1 1 auto;
			margin-top: 50px;

			display: flex;
			justify-content: center;
			align-items: flex-end;
		}

		// .tariffs__slide--btn

		&--btn {
			
		}
	}
}
