.approximate-prices {

	// .approximate-prices__title

	&__title {
	}

	// .approximate-prices__row

	&__row {
		display: grid;
		@include _768 {
			grid-template-columns: 1fr 1fr;
		}
		gap: 14px;
		@include _992 {
			gap: 42px;
		}
	}

	// .approximate-prices__table

	&__table {
		width: 100%;

		border: 2px solid #D6D6FA;
		border-radius: 18px;
		@include _992 {
			border-radius: 30px;
		}

		border-spacing: 1px;

		col {
			&:nth-child(1) {
				width: 65%;
			}

			&:nth-child(2) {
				
			}
		}

		tbody tr {
			&:nth-child(1) td:nth-child(1) {
				border-radius: 16px 0 0 0;
				@include _992 {
					border-radius: 28px 0 0 0;
				}
			}

			&:last-child td:nth-child(1) {
				border-radius: 0 0 0 16px;
				@include _992 {
					border-radius: 0 0 0 28px;
				}
				
			}
		}

		tbody td {
			&:nth-child(1) {
				background: rgba(214, 214, 250, 0.7);

				padding: 16px;

				font-weight: 700;
				font-size: 0.625rem;
				@include _550 {
					font-size: 0.75rem;
					padding: 20px;
				}
				
				@include _768 {
					font-size: 0.875rem;
					font-weight: 600;
				}
				
				@include _992 {
					font-size: 1.375rem;
					padding: 30px;
				}
				line-height: 122.727273%;
				text-transform: uppercase;
			}

			&:nth-child(2) {
				font-size: 0.75rem;
				font-weight: 600;

				padding: 10px;
				text-align: center;
				
				@include _768 {
					font-size: 0.875rem;
				}
				
				@include _992 {
					font-size: 1rem;
					padding: 30px;
				}
			}
		}
	}

	// .approximate-prices__footer

	&__footer {

		text-align: center;
	}

	// .approximate-prices__btn

	&__btn {
	}
}
