.help-student {

	display: flex;
	flex-direction: column;

	@include _768 {
		flex-direction: row;
		align-items: center;
	}

	// .help-student__bg

	&__bg {
		border-radius: 0;
		overflow: hidden;
	}

	&__decor {
		position: absolute;
		right: 0; bottom: 0;
		width: 110px; height: 150px;
		transform: translate(25%,-35%);
		background-size: 10px;
		@include _768 {
			transform: translate(25%,15%);
			width: 200px; height: 250px;
		}
		@include _992 {
			width: 250px; height: 300px;
			transform: translate(25%,25%);
			background-size: 15px;
		}
		border-radius: 50%;
		background-size: 7px;
		
	}

	// .help-student__content

	&__content {
		flex: 0 1 60%;
		@include _992 {
			flex: 0 1 65%;
			padding-right: 53px;
		}
	}

	// .help-student__title

	&__title {
	}

	// .help-student__text

	&__text {
		padding-right: 20px;

		line-height: 124%;

		p:not(:first-child) {
			padding-top: 15px;
		}
	}

	// .help-student__image

	&__image {

		flex: 0 1 40%;
		max-width: 80%; width: 100%;
		align-self: center;

		margin-top: 20px;

		@include _768 {
			margin-top: 0;
			max-width: none; width: auto;
		}

		@include _992 {
			flex: 0 1 35%;
		}

		// .help-student__image--body

		&--body {
			&::before {
				content: '';
				position: absolute;
				left: 50%; top: 50%;
				transform: translate(-50%,-50%);
				width: 200%; padding-top: 200%;
				border-radius: 50%;
				background: radial-gradient(circle, rgba(121,119,232,0.5858718487394958) 0%, rgba(255,255,255,0) 57%);
			}

			img {
				transform: rotate(-15deg);
			}
		}
	}
}
