.payback {

	padding-top: 0;
	z-index: 2;
	margin-top: -30px;

	@include _992 {
		padding-top: 100px;
		margin-top: 0;
	}

	// .payback__body

	&__body {

		padding: 60px 24px;

		@include _768 {
			padding: 100px 24px;
		}

		margin: 0 var(--minus-container-padding);

		@include _992 {
			margin: 0;
			padding: 100px 105px;
		}

		background: var(--light-gray);
		border-radius: 30px;
	}

	// .payback__title

	&__title {
	}

	// .payback__list

	&__list {
		li {
			&:not(:first-child) {
				margin-top: 20px;
				@include _768 {
					margin-top: 40px;
				}
			}

			display: grid;
			@include _768 {
				grid-template-columns: 35% auto;
			}
			@include _992 {
				grid-template-columns: 45% auto;
			}

			strong {

				display: inline-block;

				font-weight: 400;
				color: var(--accent);
				font-size: 2.5rem;
				white-space: nowrap;
				
				@include _768 {
					font-size: 3.125rem;
					margin-right: 20px;
				}
				
				@include _992 {
					font-size: 4rem;
				}

				@media (min-width: #{$container}px) {
					font-size: 5rem;
				}

				line-height: 122.5%;
				text-transform: uppercase;
			}

			b {
				@include _768 {
					font-weight: 600;
				}

				@include _992 {
					font-size: 1rem;
				}

				font-size: 0.875rem;
				font-weight: 500;
				line-height: 140%;
			}
		}
	}
}
